.sliderTitle {
  font-weight: bold;
  text-align: center;
}

.default {
  padding:0;
  text-align: center;
}

.dropdown-select{
  color:black;
  background-color: white;
  font-weight: bold;
  border: 1px solid black;
  width: 40%;
  overflow: hidden;
}

.dropdown-select ul {
  width: 21.5%;
  background-color: white;
  list-style: none;
  padding-left:0;
  color:black;
  font-size: 14;
  z-index: 10;
  overflow: hidden;
  position: absolute;
  transition: height 1s ease;
  border: 1px solid black;
}

.row{
  margin-bottom:5px;
}
