.container{
  border:0;
  padding:0;
}
.logo{
  padding:10px;
  margin:0;
}
.sliderTitle {
  font-weight: bold;
  text-align: center;
}

.default {
  padding:0;
  text-align: center;
}

.dropdown-select{
  color:black;
  background-color: white;
  font-weight: bold;
  border: 1px solid black;
  width: 80%;
  overflow: hidden;
  margin:0 auto;
}

.dropdown-select ul {
  width: 80%;
  background-color: white;
  list-style: none;
  padding-left:0;
  color:black;
  font-size: 14;
  z-index: 10;
  overflow: hidden;
  position: absolute;
  transition: height 1s ease;
  border: 1px solid black;
  margin:0 auto;
}

.row{
  margin-bottom:5px;
}

.button {
  margin:0 auto;
  display: block;

}


